/* * {
    border: dashed 2px red;
} */

html, body {
    font-family: 'Merienda', cursive;
    color: rgb(00, 00, 30);
    margin: 0;
    text-align: center;
    background-color: rgb(203, 229, 245);
}

/* typography */

/* h1 {
    font-weight: 700;
} */

/* span {
    color:rgb(255, 42, 49);
    font-style:oblique;
} */

/* layout */

.header {
    padding: 20px 50px;
    margin: 20px 50px 0px 50px;
}

/* .header img {
    height: 200px;
} */

.choice-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.ingredient-choices {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(280px, 100%/5)), 1fr));
    justify-items: center;
    justify-content: center;
  
}

.type-choices {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(280px, 100%/3)), 1fr));
    justify-items: center;
    justify-content: center;
}
  
.choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 280px;
    max-width: 100%;
    background: url("/images/blob.svg");
    background-size: cover;

}

.ingredient-choices .choice {
    justify-content: flex-end;
}

.ingredient-image, .type-image {
    object-fit: cover;
    width: 170px;
    height: 140px;
    border-radius: 20px;
}

.ingredient-name {
    color: inherit;
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 42px;
}

.confirm-button {
    font-size: 36px;
    margin: 30px;
    padding: 30px 60px;
    border-radius: 72px;
    border-style: none;
    background-color: #87C3E8;
    color: #000030;
    cursor: pointer;
}

/* modal */

.modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: rgb(203, 229, 245);
}

.close-modal-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: transparent;
    border: 2px solid #555;
    color: #555;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.modal-header {
    margin: 0;
    padding-top: 10px;
}

.dish-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    /* height: 60%;
    width: 75%; */
}

.dish-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.dish-img {
    max-width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.dish-info {
    padding-top: 20px;
    font-size: 28px;
}

.restaurant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: 75%;
}

@media only screen   
and (min-device-width : 768px) {
    .restaurant-container {
        width: 60%;
    }
}

/* .restaurant-container * {
    border: red 2px solid;
} */

.restaurant-info {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-name{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-name-span{
    display: table;
    padding-top: 14px;
    font-size: 24px;
}

.dish-price {
    height: 20%;
    display: flex;
    align-items: center;
}

.restaurant-map-container {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.restaurant-map {
    height: 80%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

.restaurant-address {
    height: 20%;
    width: 80%;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* utility */

.hidden {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* LABEL STYLES */
label {
  cursor: pointer;
}

.highlight {
    background: url("/images/blob-invert.svg");
    color: whitesmoke;
    font-weight: bold;
}
